.adminAddLeft{
	margin-top: 50px;
	width: 40%;
	margin-left: 7.5%;
}
.adminAddRight{
	margin-top: 50px;
	width: 40%;
	min-height: 250px;
	position: absolute;
	right: 7.5%;
	top: 110px;
	text-align: center;
}
.adminAddButton{
	margin-top: 50px;
	width: 20%;
	margin-left: 7.5%;
	
}
.adminAddButton button{
	width: 100%;
}
.adminHeadPhotoPreview{
	width: 50%;
	margin-left: 25%;
}
.adminHeadPhotoPreview img{
	width: 100%;
	height: 100%;
}
