.alterUserPasswordTitle{
	font-size: 30px;
	text-align: center;
}
.alterUserPasswordContent{
	width:600px;
	margin: 0 auto;
	box-shadow: none;
}
.alterUserPasswordContent input{
	margin-bottom: 30px;
}
.alterUserPasswordContent button{
	width: 100%;
}
