*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.find_nav {
    width: 100%;
    height: 45px;
    background-color: #fff;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #ddd;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.find_nav_left {
    height: 46px;
    position: relative;
    overflow: hidden;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.find_nav_list {
    position: absolute;
    /* left: 37%; */
}
.find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}
.find_nav_list ul li {
    display: inline-block;
    padding: 0 13px;
}
.find_nav_list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    font-size: 18px;
    text-align: center;
    color: #666;
}
.find_nav_cur a {
    color: #48a5f4 !important;
}

.sideline {
    display: block;
    position: absolute;
    border: 0;
    height: 2px;
    background-color: #48a5f4;
    left: 0;
    top: 43px;
    pointer-events: none;
}
.search_logo {
    display: block;
    width: 44px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    color: #48a5f4;
}

/*发现部分*/
.work-categorge-area{
	width: 600px;
	height: 60px;
	border-bottom: 1px solid #eaeaea;
    line-height: 0;
    overflow: hidden;
    padding: 11px 17px 17px;
}
.work-listof-area{
	width: 600px;
	height: 200px;
	border-bottom: 1px solid #eaeaea;
    line-height: 0;
    overflow: hidden;
    padding: 11px 17px 17px;
}
.breadcrumb{
	height: 30px;
	margin-bottom: 0px;
}
.breadcrumb a{
	color: #000;/*标签颜色*/
	font-size: 16px;
	
}

.breadcrumb a:hover{
	color: #000;
	background-color: #ffe300;
}
.type-box{
	height: 50px;
	width: 100%;
	
}

/*END 发现部分*/

/*新nva样式*/
.nav a{
	color: #000;
}

.searchWorks{
	width: 20px;
	margin-left:2px;
}

.searchUser{
	width: 20px;
	margin-left:2px;
}
.searchSimilar{
	width: 20px;
	margin-left:2px;
}

.navbar-form {
	width: 100px;
}
.form-control{
	width: 100px;
}
.li-search{
	margin-top: 28px;
}

.searchBtn{
	width: 50px;
	height: 25px;
}

/*子div套在父div*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.am-input-group-btn{
	height:25px;
	padding:0;
	margin:0;
}

.btnStyle{
	width:69px;
	padding:0;
	height:25px;
	margin:0;
}