.uploadTitle{
	width:800px;
	line-height: 50px;
	margin: 0 auto;
	margin-top: 100px;
}

.uploadTitle .panel-heading{
	height: 45px;
	padding-top: 11px;
}

.uploadPicture{
	width:800px;
	margin: 0 auto;
	margin-top:10px;
	text-align: center;
}

.uploadPicture input{
	display: none;
}

.uploadPicture .panel-heading{
	height: 45px;
	padding-top: 11px;
	text-align: left;
	
}

.uploadPicture img{
	width: 400px;
	height: 400px;
}
.uploadDetails{
	width:800px;
	margin: 0 auto;
	margin-top:10px;
}
.uploadDetails .panel-heading{
	height: 45px;
	padding-top: 11px;
}
.uploadDetailsContent{
	width:400px;
	margin: 0 auto;
	box-shadow: none;
}
.uploadDetailsContent input{
	background-color: #F3F5F8;
}
.uploadDetailsContent textarea{
	background-color: #F3F5F8;
}
.uploadDetailsContent select{
	background-color: #F3F5F8;
}
.uploadButton{
	width: 400px;
	background-color: #F3F5F8;
}
.panel-body{
	border-top: 4px solid #F3F5F8;
}
